.form-container{
    border: 1px solid transparent;
    padding: 40px;
    margin-top: 100px;
    background-color: white;
    border-radius: 15px;
}
.back-img{
    background-image: url(/assets/images/section-3__background.png);
    margin-top: 50px;
    height: 90vh;
}