.dfRBUc {
    background-image: url(/static/media/footer-bg.82e17281.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: rgb(255, 255, 255);
}
.dfRBUc .content {
    max-width: var(--max-width);
    margin: 0px auto;
    padding: 68px 115px;
}
.dfRBUc h4 {
    color: rgb(255, 255, 255);
    font-size: 46px;
    line-height: 52px;
    font-weight: 700;
    margin: 0px 0px 12px;
}
.dQbLX {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.iDvsKS {
    box-shadow: rgb(0 0 0) 2px 1000px 1px inset;
    color: rgb(255, 255, 255);
    min-width: 130px;
}

.YptCA {
    width: fit-content;
    height: fit-content;
    border: 2px solid transparent;
    background-color: transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgb(81, 145, 213), rgb(211, 18, 151));
    color: white;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 500;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.ant-btn-lg {
    height: 40px;
    padding: 6.4px 15px;
    font-size: 16px;
}

.kfxZtj {
    margin-left: 30px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    z-index: 2;
}

.ccMEng {
    background-color: rgb(0, 0, 0);
    position: relative;
    padding: 40px 0px 10px;
    margin-top: 50px;
}

.fEOMoP {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.cOLabY {
    opacity: 0.9;
    color: rgb(255, 255, 255);
    min-width: 0px;
}

.eVuceN {
    font-size: 20px;
    font-family: roc-grotesk;
    font-weight: 600;
}

.hApRMr {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    min-width: 0px;
}

.eGcgcw {
    margin-top: 20px;
    min-width: 0px;
}
.hNzcQQ {
    display: flex;
    flex-wrap: wrap;
}

.sUEyj {
    display: flex;
}

.bQoeZN {
    margin-right: 40px;
    min-width: 0px;
}

.dfjcWs {
    margin: 0px auto;
    padding: 0px 115px;
}

.fEOMoP {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

a {
    text-decoration: none!important;
}

.KigMW {
    width: 160px;
}

.cOLabY {
    opacity: 0.9;
    color: rgb(255, 255, 255);
    min-width: 0px;
}

.eVuceN {
    font-size: 20px;
    font-family: roc-grotesk;
    font-weight: 600;
}

.hApRMr {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    min-width: 0px;
}

.dgUvBD {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px;
}
.bQoeZN {
    margin-right: 40px;
    min-width: 0px;
}

.bJEMvy {
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
}
.inQobT {
    display: flex;
    flex-direction: column;
}

.kqCAl {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    opacity: 0.8;
}

.fVhFWj {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    opacity: 0.8;
}

.iusoHg {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    min-width: 0px;
}

.hdfEtR {
    font-size: 14px;
    text-align: center;
}

.logo{
    display: flex;
}
.logo h4{
    color: white;
    font-style: italic;
    margin-left: 10px;
}

.image img{
    margin-top: 70px;
    margin-left: 70px;
}
.text-style h2{
    font-size: 40px;
}
.text-style h3{
    font-style: italic;
}
.margin-top{
    margin-top: 30px;
}