body{
    overflow-x: hidden;
}
header {
    padding: 24px;
}
header.position-fixed {
    background: white;
    width: 100%;
    top: 0;
    z-index: 9;
}
.container-slider-home-page {
    padding-top: 50px;
    background: #eee;
    padding-bottom: 243px;
}
/* B Custom Button */
.btn-degrade {
    width: fit-content;
    height: fit-content;
    border: 2px solid transparent;
    background-color: transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgb(81, 145, 213), rgb(211, 18, 151));
    color: rgb(0, 0, 0);
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: rgb(255 255 255) 2px 1000px 1px inset;
    padding: 10px 15px;
}

.btn-degrade-2{
    padding: 5px 40px !important;
    font-weight: bold;
    font-size: 20px;
}
/* E Custom Button */
.image-slider {
    background-image: url(../images/header-container-image.png);
    width: 417px;
    height: 480px;
    margin: 100px auto auto auto;
    margin-top: 0;
}
img.img-gif {
    width: 270px;
    right: 17px;
    top: 49px;
}

.text-1 {
    color: #fff;
    bottom: 130px;
    left: 180px;
    font-weight: bold;
}

.text-2 {
    color: #fff;
    bottom: 109px;
    left: 206px;
    font-weight: bold;
    font-size: 12px;
}

.text-3 {
    color: #fff;
    bottom: 60px;
    left: 150px;
    font-weight: bold;
    font-size: 12px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    padding-bottom: 95px;
}

.text-4 {
    color: #fff;
    bottom: 60px;
    right: 34px;
    font-weight: bold;
    font-size: 12px;
    opacity: 0.7;
}

img.img-1 {
    bottom: 128px;
    right: 29px;
}

img.img-2 {
    bottom: 109px;
    right: 89px;
}

img.img-3 {
    width: 27px;
    height: 27px;
    bottom: 65px;
    right: 105px;
    border-radius: 50%;
}

img.img-4 {
    bottom: 62px;
    right: 17px;
}

.font-italic{
    font-style: italic;
}

.font-size-custom{
    font-size: 70px;
    font-weight: bold;
}

.position-container-left{
    margin-top: 60px;
}

.font-size-custom-2{
    font-size: 25px;
    color: #a9a4a4;
    font-weight: bold;
}

.color-pink-link{
    color: #bb4db0;
    font-size: 25px;
    text-decoration: none;
}
.color-pink-link:hover{
    color: #bb4db0;
}


.ml-15{
    margin-left: 15px;
}
.ml-5{
    margin-left: 5px;
}
.mt-35{
    margin-top: 35px;
}

.gradient-text {
    background: #bb4db0;
    background: -webkit-linear-gradient(to right, #5191d5 , #d31297 50%,#d31297 100%);
    background: -moz-linear-gradient(to right, #5191d5 0% , #d31297 50%, #d31297 100%);
    background: linear-gradient(to right, #5191d5 0% , #d31297 50%, #d31297 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-text-custom{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: -20px;
    margin-top: -20px;
}

.position-item-upcoming{
    margin: auto;
    display: inline-block;
    box-shadow: 0 5px 12px rgb(0 0 0 / 45%);
    border-radius: 40px;
}

.display-flex {
    display: flex;
}

.container-upcoming-top{
    background: #000;
    height: 700px;
    padding: 0px 80px;
}

.container-upcoming-top h3 {
    color: #fff;
    margin-top: 100px;
    display: inline-block;
}

.container-upcoming-top h2 {
    font-style: italic;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
}

.container-upcoming-top span{
    font-style: italic;
    margin-right: 5px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
}

.container-upcoming-bottom {
    margin-top: -280px;
    margin-bottom: 90px;
}

.position-item-upcoming img{
    z-index: 1;
}

.position-item-upcoming .text1{
    position: absolute;
    z-index: 2;
    top: 250px;
    font-size: 20px;
    font-weight: bold;
    left: calc(calc(100% - 85px) / 2);
}

.container-upcoming-bottom .swiper-pagination {
    margin-top: 80px !important;
    position: initial !important;
}
.position-item-upcoming .text2{
    position: absolute;
    z-index: 2;
    top: 285px;
    font-size: 13px;
    font-weight: bold;
    left: calc(calc(100% - 85px) / 2);
    opacity: 0.7;
}

.text-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 140px;
    padding-left: 50px;
}
.text4 h3{
    padding-left: 150px;
    opacity: 0.7;
    font-size: 19px;
}
.text3 h2{
    font-size: 22px;
}
.position-item-upcoming .text5{
    position: absolute;
    bottom: 108px;
    font-size: 20px;
    font-style: italic;
    padding-left: 50px;
}
.position-item-upcoming .text6{
    position: absolute;
    bottom: 80px;
    font-size: 20px;
    font-style: italic;
    padding-left: 50px;
}
.button a{
    position: absolute;
    z-index: 2;
    font-size: 20px;
    font-weight: bold;
    left: calc(calc(100% - 182px) / 2);
    bottom: 30px;
    text-decoration: none;
    background: rgb(172,136,249);
    background: linear-gradient(90deg, rgba(172,136,249,1) 0%, rgba(35,231,228,1) 100%);
    color: white;
    padding: 3px 70px 3px 70px;
    border-radius: 7px;
}

.style-time{
    background: grey;
    padding: 3px 6px;
    border-radius: 5px;
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
}
.container-timer{
    position: absolute;
    bottom: 40px;
    left: calc(calc(100% - 188px) / 2);
}

.container-timer-text {
    position: absolute;
    width: calc(calc(100% - 188px) / 2);
    left: calc(calc(100% - 174px) / 2);
    bottom: 13px;
    display: flex;
}
.container-timer-text .timer-text-style{
    display: inline-block;
    float: left;
    margin-right: 19px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.main-li{
    display: flex;
}
.main-list li{
    list-style-type: none;
    margin-top: 30px;
}
.number{
    margin-top: 30px;
    font-weight: bold;
    margin-left: 20px;
}
.image-list{
    border-radius: 50px;
    width: 20%;
    margin-left: 35px;
}
.twitter{
    margin-left: 20px;
    margin-top: 20px;
}
.trending-container{
    max-width: 1800px;
    margin-left: 50px;
    margin-top: 50px;
}
.twitter a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.container-trending-top{
    padding: 0px 80px;
}
.container-trending-top h2{
    font-size: 70px;
    font-weight: bold;
}
.container-trending-top a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.container-trending-top a:hover{
    text-decoration: underline;
}
.container-section3{
    background-image: url(../images/section-3__background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 58vh;
    max-width: 1891px;
    margin-top: 50px;
}
.text-section3 h2{
    font-size: 50px;
    color: white;
    margin-top: 3px;
}
.background-black{
    background-color: black;
}

.footer-container{
    background-color: black;
    height: 62vh;
    max-width: 1891px;
}

.footer-logo{
    display: flex;
}

.left-block{
    margin-left: 150px;
    margin-top: 100px;
    color: white;
    font-weight: bold;
}

.footer-logo h3{
    font-style: italic;
    margin-left: 10px;
}
.left-block h6{
    line-height: 2.2;
    color: grey;
}
.left-block h3{
    line-height: 1.5;
}
.footer-images{
    display: flex;
}
.footer-images img{
    width: 15%;
}
.col-xl-3{
    display: flex;
}
.main-list1 li{
    list-style-type: none;
    margin-top: 20px;
}
.main-list1 a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}
.maring-bottom{
    color: white;
}
.main-list2{
    margin-top: 90px;
}
.main-list2 li{
    list-style-type: none;
    margin-top: 20px;
}
.main-list2 a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}
.maring-bottom{
    color: white;
}
.main-list2{
    margin-top: 90px;
}
.main-list1 h5{
    color: white;
}
.main-list2 h5{
    color: white;
}
.main-list1{
    margin-top: 90px;
    margin-right: 40px;
}
/********footer******/
.dfRBUc {
    background-image: url(/static/media/footer-bg.82e17281.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: rgb(255, 255, 255);
}
.dfRBUc .content {
    max-width: var(--max-width);
    margin: 0px auto;
    padding: 68px 115px;
}
.dfRBUc h4 {
    color: rgb(255, 255, 255);
    font-size: 46px;
    line-height: 52px;
    font-weight: 700;
    margin: 0px 0px 12px;
}
.dQbLX {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.iDvsKS {
    box-shadow: rgb(0 0 0) 2px 1000px 1px inset;
    color: rgb(255, 255, 255);
    min-width: 130px;
}

.YptCA {
    width: fit-content;
    height: fit-content;
    border: 2px solid transparent;
    background-color: transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgb(81, 145, 213), rgb(211, 18, 151));
    color: white;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 500;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.ant-btn-lg {
    height: 40px;
    padding: 6.4px 15px;
    font-size: 16px;
}

.kfxZtj {
    margin-left: 30px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    z-index: 2;
}

.ccMEng {
    background-color: rgb(0, 0, 0);
    position: relative;
    padding: 40px 0px 10px;
    margin-top: 50px;
}

.fEOMoP {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.cOLabY {
    opacity: 0.9;
    color: rgb(255, 255, 255);
    min-width: 0px;
}

.eVuceN {
    font-size: 20px;
    font-family: roc-grotesk;
    font-weight: 600;
}

.hApRMr {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    min-width: 0px;
}

.eGcgcw {
    margin-top: 20px;
    min-width: 0px;
}
.hNzcQQ {
    display: flex;
    flex-wrap: wrap;
}

.sUEyj {
    display: flex;
}

.bQoeZN {
    margin-right: 40px;
    min-width: 0px;
}

.dfjcWs {
    margin: 0px auto;
    padding: 0px 115px;
}

.fEOMoP {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

a {
    text-decoration: none!important;
}

.KigMW {
    width: 160px;
}

.cOLabY {
    opacity: 0.9;
    color: rgb(255, 255, 255);
    min-width: 0px;
}

.eVuceN {
    font-size: 20px;
    font-family: roc-grotesk;
    font-weight: 600;
}

.hApRMr {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    min-width: 0px;
}

.dgUvBD {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px;
}
.bQoeZN {
    margin-right: 40px;
    min-width: 0px;
}

.bJEMvy {
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
}
.inQobT {
    display: flex;
    flex-direction: column;
}

.kqCAl {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    opacity: 0.8;
}

.fVhFWj {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    opacity: 0.8;
}

.iusoHg {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    min-width: 0px;
}

.hdfEtR {
    font-size: 14px;
    text-align: center;
}

.logo{
    display: flex;
}
.logo h4{
    color: white;
    font-style: italic;
    margin-left: 10px;
}

.gvfiVX {
    height: 10px;
    background: linear-gradient(51deg, rgb(81, 145, 213) 0%, rgb(211, 18, 151) 100%);
    margin-bottom: -50px;
}

.text-style a{
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 50px;
    padding: 15px;
    padding-right: 90px;
    padding-left: 90px;
    background-color: black;
    transition: all 400ms ease-in-out;
    margin-right: 50px;
    margin-bottom: 20px;
}
.text-style a:hover{
    background-color: white;
    color: black;
}


.text-style h1{
    font-size: 90px;
}
.text-2-2{
    font-weight: 900;
    font-size: 20px;
}

.text-3-3{
    color: grey;
    font-size: 20px;
}

.text-4-4{
    font-weight: 600;
    font-size: 20px;
}
.text-5-5{
    font-weight: 600;
    font-size: 20px;
}
.text-6-6{
    font-weight: 600;
    font-size: 20px;
}
.text-7-7{
    font-weight: 600;
    font-size: 20px;
}
.para1{
    max-width: 400px;
    line-height: 1.2;
    color: grey;
}
.text-style{
    line-height: 0.5;
}

.container-twitter{
    border: 1px solid transparent;
    margin-bottom: 135px;
    box-shadow: 0 20px 80px rgb(0 0 0 / 45%);
    border-radius: 15px;

}

.container-slider-home-page2{
    margin-top: 50px;
}
.textdecora{
    color: black;
}